body {
  position: relative;
  background-color: mistyrose;
}

div {
  position: relative;
  transition: height 10s;
  /*
  animation: moveright 5s infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
  */
}

@keyframes moveright {
  from {left: 0px;}
  to {left: 300px;}
}

.expand {
  height: 1000px;
}

.facelet {
  width: 100px;
  height: 100px;
  display: inline-block;
  left: 5px;
  top: 5px;
  border: 20px solid;
}

.r-face {
  background-color: red;
}
.l-face {
  background-color: orange;
}
.f-face {
  background-color: green;
}
.b-face {
  background-color: blue;
}
.u-face {
  background-color: white;
}
.d-face {
  background-color: yellow;
}
